<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <div class="container flex-row flex-nowrap">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav flex-row ">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand d-none d-md-flex ' %>
        <% if user_signed_in? %>
          <li><%= link_to current_user.name, current_user, class: 'nav-link me-4' %></li>
          <li><%= button_to t('views.links.logout'), destroy_user_session_path, method: :delete, class: 'nav-link border-0
          bg-transparent'
          %></li>
        <% else %>
          <li><%= link_to t('views.links.login'), new_user_session_path, class: 'nav-link me-2' %></li>
          <li><%= link_to t('views.users.signup.action'), new_user_registration_path, class: 'nav-link' %></li>
        <% end %>
      </div>
    </div>
    <%= render 'partials/locale' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
