<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container flex-row flex-nowrap">
    <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav flex-row ms-3">
        <% if user_signed_in? %>
          <li><%= link_to 'Профиль', current_user, class: 'nav-link me-4' %></li>
          <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to 'Войти', new_user_session_path, class: 'nav-link mr-4' %></li>
          <li><%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link' %></li>
        <% end %>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
