<div class="text-center mt-5 " data-turbo="false">
  <h1><%= @user.name %></h1>

  <%= image_tag user_avatar(@user), class: 'user-photo' %>

  <% if @user == current_user %>
    <div class="d-flex flex-row justify-content-center align-items-center mt-5 mb-5">
      <%= link_to t('views.buttons.edit_profile'), edit_user_path(@user), class: 'btn btn-outline-success me-3' %>
      <%= button_to t('views.buttons.delete_profile'), user_registration_path, method: :delete,
                    form: { data: { turbo_confirm: t('user.edit.destroy.confirm') } }, title: t('views.buttons.delete'),
                    class: 'btn btn-outline-danger' %>
  <% end %>

  </div>
  <div class="row" data-turbo="false">
    <div class="col-md-12 mt-5 text-center">
      <% if @user.events.any? %>
        <h3><%= t('views.text.user.events') %>:</h3>
        <div class="row">
          <%= render partial: 'events/event', collection: @user.events %>
        </div>
      <% else %>
        <p class="mt-5"><%= t('views.text.user.no_events') %></p>
      <% end %>
    </div>
  </div>
</div>
