<h2>Доступ только по пин-коду</h2>

<%= form_tag('', method: 'post', data: { turbo: false }) do |f| %>
  <div class="mb-3">
    <%= label 'Пин-код', t('activerecord.attributes.event.pincode') %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions mb-3">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to 'На главную', events_path %>
