<!DOCTYPE html>
<html>
<head>
  <title>BBQApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="d-flex flex-column min-vh-100">
<%= render 'partials/navbar' %>
<main class="flex-shrink-0">
  <div class="container">
    <% if flash[:notice].present? %>
      <p class="alert alert-success mt-3"><%= flash[:notice] %></p>
    <% elsif flash[:alert].present? %>
      <p class="alert alert-danger mt-3"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
  </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p>&copy; <%= t 'app.company' %> 2022</p>
  </div>

</footer>

</body>
</html>
